<div class="navbar">
  <div class="navbar-wrap">
      <% if action_name != "home" then %>
        <%= link_to root_path do %>
          <%= image_tag('logo.png') %>
        <% end %>
      <% else %>
        <%= image_tag('logo.png') %>
      <% end %>
    <!-- navbar links -->
      <div class="links">
        <%= link_to 'Cookies', :cookie %>
        <%= link_to 'Privacy', :privacy %>
        <%= link_to 'Terms', :terms %>
        <%= link_to 'Contact', 'mailto:andrea@airtrip.io', target: '_blank' %>
        <%#= link_to 'App', '#' %>
        <%#= link_to 'About', :about %>
        <%#= link_to 'Contact', :contact %>
      </div>
    <!-- navbar links end -->
    <!-- nav-toggle for sm dev start -->
      <input type="checkbox" id="navicon">
      <label for="navicon" class="nav-toggle">
        <span class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </label>
      <aside class="sidebar" role="complementary">
        <div class="sidebar-item">
          <%= link_to 'Cookies', :cookie %>
          <%#= link_to 'App', '#', class: 'sidebar-item' %>
          <hr>
          <%= link_to 'Privacy', :privacy %>
          <%#= link_to 'About', :about, class: 'sidebar-item' %>
          <hr>
          <%= link_to 'Terms', :terms %>
          <%#= link_to 'Contact', :contact, class: 'sidebar-item' %>
          <%= link_to 'Contact', 'mailto:andrea@airtrip.io', target: '_blank' %>
        </div>
      </aside>
    <!-- nav-toggle for sm dev end -->
  </div>
</div>

<!-- old nav-toggle -->
  <!-- <div class="btn-group">
    <i class="fa fa-bars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu dropdown-menu-right">
      <%#= link_to 'App', '#', class: 'dropdown-item' %>
      <%#= link_to 'About', :about, class: 'dropdown-item' %>
      <%#= link_to 'Contact', :contact, class: 'dropdown-item' %>
    </div>
  </div> -->
<!-- old nav-toggle -->
